table{
    width:"400";
    border: 1px;
}
body{
    background-color: rgb(86, 119, 119);
}
#side_cart{
    height: 100%;
    width: 30%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    right: 0;
    background-color: rgb(226, 200, 200);
}
#bill{
    height: 100%;
    width: 30%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    left: 0;
    background-color: rgb(226, 200, 200);
}
#table1{
    
}

#show-table{
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    left: 0;
    background-color: #111;
}
#reset{
    margin-top: 467px;
    margin-left: 300px;
}
#qty{
    width:50px;
}
